// colors
$textColor: #2F3B3F;
$textColorLight: #fff;
$accentColor: #83AEAD;


// border-radius
$borderRadius: 5px;
$borderRadiusButton: 10px;

// transition
$transition: 0.3s;

// container
%container{
    width: 1146px;
    margin: 0 auto;
}