@mixin text($fontWeight, $fontSize, $lineHeight) {
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
}

%container {
  width: 100%;
  max-width: 1146px;
}

.text {
  color: #2f3b3f;
}

.container {
  @extend %container;
}

.description {
  &__title {
    @include text(800, 40px, 54px);
    margin: 0;
    text-align: left;
    margin: 130px 0 70px 343px;
  }
  &__text,
  &__text-next {
    @include text(400, 24px, 32px);
  }
  &__image {
    padding-left: 30px;
  }
  &__text {
    margin-bottom: 30px;
  }
  &__text-next {
    margin-bottom: 20px;
  }
  &__item-title {
    @include text(700, 30px, 41px);
  }
  &__item-text {
    @include text(400, 20px, 30px);
  }

  &__list {
    margin-left: 89px;
    margin-bottom: 70px;
  }
  &__item {
    margin-top: 30px;
    position: relative;
  }

  &__item:nth-child(1)::before,
  &__item:nth-child(2)::before,
  &__item:nth-child(3)::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    left: -90px;
  }

  &__item:nth-child(1)::before {
    background: url(../img/icons/window.svg);
    top: 44px;
  }

  &__item:nth-child(2)::before {
    background: url(../img/icons/window2.svg);
    top: 44px;
  }
  &__item:nth-child(3)::before {
    background: url(../img/icons/window3.svg);
    top: 26px;
  }

  &__button--left,
  &__button--right {
    width: 247px;
    height: 71px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  &__button--left {
    background-color: #83aead;
    color: #fff;
    border: none;
    margin-right: 30px;
  }
  &__button--right {
    background-color: Transparent;
    position: relative;
  }

  &__button--right::after {
    content: "";
    position: absolute;
    background: url(../img/icons/Arrow.svg);
    top: 26px;
    right: -26px;
    width: 44px;
    height: 16px;
    z-index: 22;
  }

  &__wrapper {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 558px);
    justify-items: center;
    justify-content: center;
  }
}
